* {
	margin: 0;
	padding: 0;
}
body, 
button {
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.header {
	height: 44px;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	line-height: 44px;
	text-align: center;
	background: #F3F3F3;
	text-transform: uppercase;
	color: #777;
}
.reload {
	position: absolute;
	right: 6px;
	top: 6px;
	border: 1px solid #CCC;
	padding: 0.5em;
	background: transparent;
	color: #666;
}
.loading {
	display: none;
}
.shows {
	margin-top: 44px;
	display: table;
	table-layout: fixed;
	width: 100%;
}
	.shows li {
		list-style: none;
		display: block;
		height: 88px;
		overflow: hidden;
		border-bottom: 1px solid #EEE;
		display: table-row;
	}
		.channel {
			/*display: block;
			float: left;*/
			display: table-cell;
			width: 100px;
			border-bottom: 1px solid #EEE;
		}
			.channel img {
				width: 88px;
				height: 88px;
			}
		.info {
			display: table-cell;
			vertical-align: middle;
			overflow: auto;
			padding: 0.5em;
			border-bottom: 1px solid #EEE;
		}
			.shows .title {
				font-weight: 600;
				display: block;
				color: #34495e;
				font-size: 1.25em;
			}
			.shows .smaller {
				font-size: 1em;
			}
			.time {
				color: #34495e;
				float: left;
			}
			.description {
				color: #888;
			}