<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Programme TV</title>
	<meta name="viewport" content="initial-scale=1.0">
	
	<!-- iOS -->
	<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<!-- Google Chrome -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="nice-highres.png">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
<body>
	<div class="app">
		<header class="header">
			<span class="title"></span>
			<button class="reload">
				<span class="loading">
					<img src="css/images/loader.gif" width="16" height="16" alt=""/>
				</span>
				<span class="action">
					<img src="css/images/reload.png" width="16" height="16" alt=""/>
				</span>
			</button>
		</header>
		<ul class="shows">
		</ul>
	</div>

	<script type="text/template" id="tpl-show-view">
		<span class="channel">
			<img src="<%= image %>" alt="<%= channel %>" width="100" height="100">
		</span>
		<div class="info">
			<strong class="title <%= titleSize %>"><%= title %></strong>
			<span class="time"><%= time %></span>
			<div class="description"><%= description %></div>
		</div>
	</script>

	<script type="text/javascript" src="vendor/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="vendor/underscore-min.js"></script>
	<script type="text/javascript" src="vendor/backbone-min.js"></script>
	<script type="text/javascript" src="vendor/burry.js"></script>
	<script type="text/javascript" src="vendor/FeedParser.js"></script>
	<script type="text/javascript" src="vendor/moment+langs.min.js"></script>
	<script type="text/javascript" src="vendor/replace-diacritics.js"></script>

	<script type="text/javascript" src="app/models/show-model.js"></script>
	<script type="text/javascript" src="app/collections/show-collection.js"></script>
	<script type="text/javascript" src="app/views/show-view.js"></script>
	<script type="text/javascript" src="app/views/show-collection-view.js"></script>
	<script type="text/javascript" src="app/views/app-view.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
</body>
</html>